<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/blog">Home</a></li>
        <li><a href="/blog/blogs?category=technology">Technology</a></li>
        <li><a href="/blog/blogs?category=sports">Sports</a></li>
        <li><a href="/blog/blogs?category=health">Health</a></li>
      </ul>
    </nav>

    <div id="blog">
     
    </div>

    <div id="parent-box"></div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const parentBox = document.getElementById("parent-box");

      fetch("/blog/blogs")
        .then((response) => response.json())
        .then((data) => {
          data.forEach((blog) => {
            const blogDiv = document.createElement("div");
            blogDiv.className = "list";

            const blogImage = document.createElement("img");
            blogImage.id = "img";
            blogImage.src = `${blog.image}`;

            const blogTitle = document.createElement("p");
            blogTitle.id = "title";
            blogTitle.textContent = blog.title;

            const blogCategory = document.createElement("p");
            blogCategory.id = "category";
            blogCategory.textContent = blog.category;

            const blogContent = document.createElement("p");
            blogContent.id = "content";
            blogContent.textContent = blog.content;

            const blogLike = document.createElement("p");
            blogLike.id = "like"; 
            blogLike.textContent = blog.like;

            const blogCount = document.createElement("p");
            blogCount.id = "count";
            blogCount.textContent = blog.count;

            const blogComment = document.createElement("p");
            blogComment.id = "comment";
            blogComment.textContent = blog.comment;

        
            blogDiv.appendChild(blogComment);
            blogDiv.appendChild(blogCount);
            blogDiv.appendChild(blogLike);
            blogDiv.appendChild(blogContent);
            blogDiv.appendChild(blogCategory);
            blogDiv.appendChild(blogImage);
            blogDiv.appendChild(blogTitle);

            parentBox.appendChild(blogDiv);
          });
        })
    });
  </script>
</html>
