<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/blogpage.css">
  </head>
  <body>
    <%-include("header") %>
    <div id="blog">
     
    </div>

    <div id="parent-box"></div>
  </body>

  <script>
    fetch("/blog/blogs")
      .then((value) => value.json())
      .then((data) => {
        data.map((ele) => {
          let img = document.createElement("img");
          img.src = `${ele.image}`;
          img.setAttribute("class", "img");
          let title = document.createElement("p");
          title.innerHTML = ele.title;
          title.setAttribute("class", "title");
          let div = document.createElement("div");
          div.append(img, title);
          div.setAttribute("class", "list");
          document.getElementById("parent-box").append(div);

          div.addEventListener("click", () => {
            window.location.href = `/blog/singleblog/${ele._id}`;
          });
        });
      });
  </script>
</html>
