<div class="navbar">
    <ul>
      <li><a href="/blog/">Home</a></li>
      <li><a href="/blog/create">Add Blogs</a></li>
      <li><a href="/user/signup">Sign Up</a></li>
      <li><a href="/user/login">Login</a></li>
    </ul>
  </div>