.list {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  transition: transform 0.2s;
}

.list:hover {
  transform: scale(1.01);
}

.img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  margin-top:15px;
  margin-left: 5px;
  font-size: 20px;
}

.list + .list {
  margin-top: 20px;
}
.list + .list {
  margin-top: 20px;
}
.parent-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
